[submodule "glow/ext/assimp"]
	path = glow/ext/assimp
	url = https://github.com/assimp/assimp.git
[submodule "glow/ext/dearimgui"]
	path = glow/ext/dearimgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "glow/ext/glm"]
	path = glow/ext/glm
	url = https://github.com/g-truc/glm.git
[submodule "glow/ext/glfw-3.4"]
	path = glow/ext/glfw-3.4
	url = git@github.com:glfw/glfw.git
[submodule "glow/ext/yaml-cpp"]
	path = glow/ext/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
